node_modules/
model.rar
Policies.pdf
codes.js
public/images/.
public/images/.
public/uploads/images/applicant/.
public/uploads/images/company/.
public/uploads/videos/applicant/.
public/uploads/videos/company/.