node_modules/
model.rar
.env
codes.js
public/images/.
public/images/.
/public/uploads/images/applicant/.
/public/uploads/images/company/.
/public/uploads/videos/applicant/.
/public/uploads/videos/company/.
workegypt-6ee8f-firebase-adminsdk-0qzhv-51886110f6.json