.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vr-line {
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #ddd;
}
.hr-line {
  display: block;
  height: 0.1rem;
  width: 100%;
  background-color: #ddd;
}
.relative-container {
  position: relative;
}
.secondary--text {
  color: $dark-gray;
}
.secondary--muted {
  color: $medium-gray;
}
h6 {
  font-size: 1.4rem;
}

.avoid-navbar {
  margin-top: $navbar-height;
}
.avoid-sidebar--left {
  padding-left: $sidebar-width + $margin-md;
  max-width: 100vw;
}
.avoid-sidebar--right {
  padding-right: $sidebar-width + $margin-md;
}

.validation-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .not-valid {
    border: 1px solid #f00 !important;
  }
}

/* date picker override */
.DateRangePicker {
  z-index: 99999999;
}
.responsive_img_container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img,
  iframe,
  video {
    display: block;

    object-fit: cover;
    height: 100% !important ;
    width: 100% !important;
  }
}

.flex-centered {
  @extend %flx-cnt;
}

.full-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &.white {
    background-color: #fff;
  }
}

.invisible {
  visibility: hidden !important;
}
.link-unstyled {
  text-decoration: none;
  color: #333;
  &:hover {
    text-decoration: none;
    color: #333;
  }
}

.copied-indicator {
  display: block;
  background-color: #333;
  color: #fff;
  width: 75px;
  padding: 5px;
  border-radius: 1rem;
  position: absolute;
}

.remove-outline {
  outline: none;
  &:active,
  &:focus,
  &:hover {
    outline: none;
  }
}

.hover-opacity {
  transition: opacity 0.5s ease;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}

#react-confirm-alert .react-confirm-alert-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
