$dark_blue: #00326f;
$medium-blue: #3c82d8;
$light-blue: #009cbf;

$darker_gray: #585858;
$dark-gray: #bcbcbc;
$medium-gray: #ddd;
$light-gray: #f8f8f8;
$body-bg: #f6f6f6;
$green: #02979d;
$dark-green: #015457;
$gold: #c8b507;

/*--------------------------*
/* Utils */
$radius-sm: 0.7rem;
$radius-md: 1rem;

$margin-sm: 0.3rem;
$margin-md: 1rem;
$margin-lg: 2rem;

$padding-sm: 0.3rem;
$padding-md: 1rem;
$padding-lg: 2rem;
$padding-xl: 5rem;
/* dimentions */
$left-widget-width: 20rem;
$navbar-height: 5rem;
$sidebar-width: 10rem;
$sections_min_height_md: 10rem;
