.exp-modal {
  .modal-header {
    border: none;
    background-color: $dark-blue;
    color: #fff;
    justify-content: center;
    padding: 0.3rem !important;
    h2 {
      font-size: 2rem;
      text-transform: capitalize;
    }
  }
  .modal-content {
    overflow: visible;
    border-radius: 1rem !important  ;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    overflow: visible;
    .exp-input {
      width: 80%;
      height: 3.5rem;
      outline: 0;
      border-radius: 0.5rem;
      padding: 1rem;
      border: solid 0.05rem rgb(199, 199, 199);
      color: $darker_gray;
      margin-bottom: $margin-md;
      &:focus {
      }
    }

    .datalist-input {
      &:first-child {
        margin-right: 0.5rem;
      }
      &:last-child {
        margin-left: 0.5rem;
      }
    }
    .select-container {
      width: 80%;
    }
  }

  .modal-footer {
    button {
      border-radius: 2rem;
      min-width: 10rem;
    }
  }
}
#CompanyProfileModal,
.job-modal {
  border: none;
  .modal-content {
    border: none;
  }
  .modal-header {
    border-bottom-width: 0px;
    background-color: $dark-blue;
    color: #fff;
    justify-content: center;
    .modal-title {
      font-size: 1.6rem;
    }
  }
  .btn-primary {
    background-color: $dark-blue;
    border: none;
    &:hover {
      background-color: darken($dark-blue, 5%);
    }
  }
  input,
  textarea {
    border-radius: 1rem !important;
    padding: 1.8rem !important;
  }
}

.generate-interview-modal {
  width: 50vw;
  min-width: 300px;
  min-height: 300px;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  .title {
    font-size: 2rem;
    color: $darker_gray;
  }
  .description {
  }
  .content {
    flex-direction: column;
  }
  .code-textarea {
    resize: none;
    height: 75px;
    width: 90%;
    margin-bottom: 10px;
  }
}
